services:
  marketplace:
    build: ./marketplace-api
    ports:
      - "8080:8080"
    depends_on:
      - mongo
      - receiver
    networks:
      - backend

  receiver:
    build: ./receiver-api
    ports:
      - "8081:8081"
    depends_on:
      - mongo
    networks:
      - backend

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    networks:
      - backend

networks:
  backend:
    driver: bridge
